{% extends "app_base_html.html" %}

{% load static %}

{% block title %}Change password{% endblock %}


{% block style %}
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: helvetica, sans-serif;
        }

        #content {
            padding: 20px 100px;
        }

        div.contract label, div.extra label {
            color: black;
            float: left;
            width: 6em;
            font-weight: bold;
            text-align: right;
            margin-right: .15em;
        {#background-color: #aaaaaa;#}

        }

        #id_pin, #id_phone, #id_room_no, #id_term,
        #id_start_date, #id_end_date, #id_deposit, #id_deduct, #id_cum_ovd, #id_adjust, #id_photo,
        #id_username, #id_first_name, #id_last_name, #id_password, #id_password2 {
            width: 10em;
            background-color: lightblue;
            margin-top: 0;

        }

        div.contract fieldset {
            width: 22em;
            height: 23em;
            float: left;

        {#    margin-top: 1em;#}{#    margin-bottom: 1em;#}{#    padding-top: .5em;#}

        }

        div.contract legend {

            color: blue;
            font-weight: bold;
            font-size: 125%;
            margin-bottom: .5em;

        }

        div.extra fieldset {
            width: 18em;
            height: 23em;

        {#margin-top: 1em;#}{#margin-bottom: 1em;#}{#padding-top: .5em;#}
        }

        div.extra legend {

            color: blue;
            font-weight: bold;
            font-size: 125%;
            margin-bottom: .5em;

        }

        #id_photo {
            font-weight: bold;
            color: red;
            width: 16em;
        }

        div.submit {

        {#margin-left: 17em;#}{#clear: both;#}{#padding: 1em;#}

        }

        div.submit button {
            width: 9em;
            font-size: large;
            background-color: red;
            color: white;
            margin-top: .5em;
            padding: .3em;
        }


    </style>
{% endblock %}


{% block content %}
    <h1>Change_password</h1>
{% endblock %}



