{% extends "app_base_html.html" %}
{% load static %}

{% block title %}Admin page{% endblock %}

{% block script %}
        <link href="{% static "css/app_body.css" %}" rel="stylesheet">
{% endblock %}

{% block style %}

    <style>

        #topic ul a {
            list-style-type: disc;
            color: blue;
            font-size: larger;
            font-weight: bold;
            text-decoration: none;
        }

        #topic ul a:hover {
            color: limegreen;
            font-weight: bold;
        }

        #topic ul #del a {
            color: red;
            font-weight: bold;
        }

        #topic ul #del a:hover {
            color: black;
            {#font-weight: bold;#}
        }


    </style>

{% endblock %}

{% block content %}

    <h1>Manage users</h1>

    <div id="topic">
        <ul>
            <li id="reg"><p><a href="{% url 'register' %}">Create new user</a></p></li>
            <li id="del"><p><a href="{% url 'user_list_to_delete' %}">Delete users</a></p></li>
            <li id="cpw"><p><a href="{% url 'password_change' %}">Change password</a></p></li>
        </ul>

    </div>

{% endblock %}
