{% extends 'auth_base_html.html' %}

{% load static %}

{% block title %}Enter new password{% endblock %}

{% block script %}
{% endblock %}

{% block style %}
    <style>

        input[type=submit] {
            font-weight: bold;
            background: mediumseagreen;
            border-color: red;
            border-radius: 15px;
            color: #fff;
            padding: 10px 20px;
            font-size: 14px;
            text-transform: uppercase;
        }

        input[type=submit]:hover {
            color: black;

        }

    </style>


{% endblock %}

{% block content %}
    <h1>Set a new password!</h1>
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn-success" type="submit" value="Change my password">
    </form>

{% endblock %}