{% extends "app_base_html.html" %}
{% load static %}

{% block title %}Register_done{% endblock %}

{% block script %}
    <link href="{% static "css/app_body.css" %}" rel="stylesheet">
{% endblock %}


{% block style %}
    <style>

        h2 {
            border-bottom: 1px solid #bbb;
            padding: 0 0 3px 0;
            margin: 5px 0 10px 0;

            color: blue;
        }


        p {
            line-height: .5;

            font-size: 17px;
            font-weight: bold;

        }

        a {
            color: green;

            text-decoration: none;
        }

        a:hover {
            color: red;
        }

    </style>
{% endblock %}


{% block content %}

    <h2>New user has been successfully created.</h2>

    <p><a href="{% url 'manage_users' %}">Create new user?</a></p>

{% endblock %}
